$color-white: #ffffff;
$color-white-two: #fefefe;
$color-indigo-blue-80: rgba(90, 16, 148, 0.8);
$color-very-light-blue: #e6e9f0;
$color-battleship-grey: #777879;
$color-black: #2b2525;
$color-very-light-pink: #f3f3f3;
$color-brown-grey: #979797;
$color-grape-purple: #431c5d;
$color-indigo-blue: #5a1094;
$color-brown-grey-two: #9c9c9c;
$color-black-two: #000000;
$color-brownish-grey: #6b6b6b;
$color-peacock-blue: #00579f;
$color-strong-pink: #ff1876;
$color-brown-grey-three: #9b9b9b;
$color-light-peach: #dedcdc;
