@import '../../styles/common';


.orderForm {

}

.formGroup {
  padding: 0 0 20px 0;
}

.label {
  font-size: 16px;
  color: $color-indigo-blue;
  display: block;
  margin-bottom: 7px;
  font-weight: 400;
}

