@import '../../index';

.wrap {
  @extend .wrap;
  height: 589px;
  border-radius: 5px;
  box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.07);
  background-image: linear-gradient(to bottom, #ffffff, #fefefe);
}
