.header {
  border-bottom: 1px solid #bb0cb2;
  height: 50px;
  background-color: #ffffff;
  color: #5a1094;
}

.wrap {
  width: 700px;
  margin: 0 auto;
  padding: 0 5px;
  height: 100%;
  display: flex;
  align-items: center;
}